<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    <button mat-mini-fab *ngIf="userInstance$ | async" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">
      Todo It
    </span>
  </span>
  <button (click)="logout()" *ngIf="userInstance$ | async" mat-mini-fab>
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="app-sidenav">
    <nav>
      <a mat-button
        class="nav-link"
        *ngFor="let link of links"
        [routerLink]="link.path"
        routerLinkActive="active">
      {{link.label}}
    </a>
  </nav>
</mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
